body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: none;
  font-size: 1.8rem;
  color: black;
  width: 100%;
}

.search_menu {
  flex: 2;
  border-radius: 20px;
  padding: 5px;
}

.App {
  display: flex;
  flex-direction: column;
}
